<tr>
    <td>2022.07.07</td>
    <td><a href="https://fhe-org.github.io/meetups/homomorphic-Large-Precision-Integers-Using-Concrete">Homomorphic Large Precision Integers Using Concrete</a></td>
    <td>In this talk, we will detail a few constructions of large integers based on the TFHE cryptosystem. We will also explore their theoretical aspects along with their implementations in the Concrete library.</td>
    <td>Jean-Baptiste Orfila</td>
    <td>Theory</td>
</tr>


<tr>
    <td>2022.06.02</td>
    <td><a href="https://www.zama.ai/post/tfhe-deep-dive-part-4">TFHE deep-dive - part 4 - Programmable Bootstrapping</a></td>
    <td>Now that we have all these ingredients, we are finally ready to build the most complex operation. We need three more additional building blocks -- the modulus switching, the sample extraction and the blind rotation -- and then we will be good to go. </td>
    <td>Ilaria Chillotti</td>
    <td>Theory</td>
</tr>

<tr>
    <td>2022.05.18</td>
    <td><a href="https://www.zama.ai/post/tfhe-deep-dive-part-3">TFHE deep-dive - part 3 - Key switching and leveled multiplications</a></td>
    <td>In this post, we will continue describing some more leveled homomorphic operations and building blocks. The goal is to create a solid basis to be able to understand bootstrapping in the next blog post.</td>
    <td>Ilaria Chillotti</td>
    <td>Theory</td>
</tr>

<tr>
    <td>2022.05.11</td>
    <td><a href="https://www.zama.ai/post/tfhe-deep-dive-part-2">TFHE deep-dive - part 2 - Encodings and linear leveled operations</a></td>
    <td>In this post we will start discovering how to perform operations on these ciphertexts. In particular, we will describe two simple homomorphic operations: homomorphic addition and multiplication by unencrypted constants.</td>
    <td>Ilaria Chillotti</td>
    <td>Theory</td>
</tr>

<tr>
    <td>2022.05.04</td>
    <td><a href="https://www.zama.ai/post/tfhe-deep-dive-part-1">TFHE deep-dive - part 1- Ciphertext types</a></td>
    <td>This blog post is part of a series of posts dedicated to the Fully Homomorphic Encryption scheme called TFHE (also known as CGGI, from the names of the authors Chillotti-Gama-Georgieva-Izabachène). Each post will allow you to go deeper into the understanding of the scheme. The subject is challenging, we know, but don’t worry, we will dive into it little by little.</td>
    <td>Ilaria Chillotti</td>
    <td>Theory</td>
</tr>

<tr>
    <td>2021.10.18</td>
    <td><a href="https://ia.cr/2021/1402">Guide to Fully Homomorphic Encryption over the discretized torus</a></td>
    <td>This guide is intended to practitioners. It explains the inner-workings of TFHE, a torus-based fully homomorphic encryption scheme. More exactly, it describes its implementation on a discretized version of the torus. It also explains in detail the technique of the programmable bootstrapping.</td>
    <td>Marc Joye</td>
    <td>Theory</td>
</tr>

<tr>
    <td>2022</td>
    <td><a href="https://courses.openmined.org/courses/foundations-of-private-computation">Foundations of Private Computation</a></td>
    <td>Become a data scientist and statistician capable of studying data you do not own and cannot see. Learn every major privacy-preserving technique to an intermediate level, understand how they work together, and how you can use them to safely study data owned by another organization (such as another university, enterprise, or government) without ever seeing the underlying data yourself.</td>
    <td>Open Mined</td>
    <td>Theory</td>
</tr>

<tr>
    <td>2022.03.29</td>
    <td><a href="https://fhe-org.github.io/meetups/verifiable-computation-over-encrypted-data-snarks-and-more">Verifiable Computation over Encrypted Data: SNARKs and more</a></td>
    <td>This talk will present Rinocchio, a new designated-verifiable SNARK for ring arithmetic that allows to verify evaluations of FHE ciphertexts. We will discuss the challenges and open problems in the area.</td>
    <td>Anca Nitulescu</td>
    <td>Theory</td>
</tr>

<tr>
    <td>2022.01.20</td>
    <td><a href="https://fhe-org.github.io/meetups/an-overview-of-hybrid-homomorphic-encryption">An overview of Hybrid Homomorphic Encryption</a></td>
    <td>Fully Homomorphic Encryption (FHE) has long been considered the crown jewel of cryptology and it is only recently that efficient solutions have started to emerge. Being as it is, the current state of the art of FHE still comes along with a huge expansion factor that implies an overload both in computation time and bandwidth usage. Hybrid Homomorphic Encryption, or transciphering, aims to solve the latter issue by combining the efficiency of light symmetric schemes with the computational power of FHE. In this talk, we will present an history of HHE, talk about the latest advances in the domain and address the issues that are yet to be solved.</td>
    <td>Orel Cosseron and Clément Hoffman</td>
    <td>Theory</td>
</tr>

<tr>
    <td>2021.04.15</td>
    <td><a href="https://fhe-org.github.io/meetups/tfhe-deep-dive">TFHE deep dive</a></td>
    <td>TFHE is a fully homomorphic encryption scheme that enables fast homomorphic operations on booleans, integers and reals. By enabling both leveled and bootstrapped operations, TFHE can be used for a wide range of usecases, from homomorphic boolean circuits to homomorphic neural networks. In this talk, Ilaria will do a deep dive on TFHE, and explain the key concepts behind it.</td>
    <td>Ilaria Chillotti</td>
    <td>Theory</td>
</tr>

<tr>
    <td>2021.11.04</td>
    <td><a href="https://fhe-org.github.io/meetups/introduction-to-fhe">Introduction to homomorphic encryption</a></td>
    <td>In this video recording, Pascal Paillier from Zama gave an introduction to homomorphic encryption, including examples of application to machine learning.</td>
    <td>Pascal Paillier</td>
    <td>Theory</td>
</tr>

