- 📃 [Encrypted Conway's Game of Life](https://www.zama.ai/post/the-game-of-life-rebooted-with-concrete-v0-2) in Rust with the [Concrete](https://github.com/zama-ai/concrete) library - 18.08.2022
- 📃 [Encrypted search using Fully Homomorphic Encryption](https://medium.com/optalysys/encrypted-search-using-fully-homomorphic-encryption-4431e987ba40)  - 03.11.2021
- 📃 [Concrete Boolean and Conway's Game of Life](https://medium.com/p/f2bcfd614131/) - 30.09.2021
- 📃 [Homomorphic Machine Learning using Numpy & Concrete](https://fhe-org.github.io/meetups/running-numpy-programs-homomorphically) - 26.08.2021
