- 📺 [Single-Trace Side-Channel Attack on SEAL Homomorphic Encryption Library](https://fhe-org.github.io/meetups/single-trace-side-channel-attack-on-seal-homomorphic-encryption-library) by Furkan Aydin - 28.04.2022
- 📺 [Single-server private information retrieval using homomorphic encryption](https://fhe-org.github.io/meetups/single-server-private-information-retrieval-using-homomorphic-encryption) by Muhammad Haris - 25.02.2022
- 📺 [FHE at the speed of light](https://fhe-org.github.io/meetups/fhe-at-the-speed-of-light) by Florent Michel - 21.12.2021
- 📺 [Why we need revolutionnary hardware for FHE](https://fhe-org.github.io/meetups/why-we-need-revolutionary-hardware-for-fhe) by Rosario Cammarota - 23.11.2021
- 📺 [Google's C++ to FHE compiler](https://fhe-org.github.io/meetups/google-c++-to-fhe-transpiler) by Shruthi Gorantala and Rob Springer - 26.08.2021
- 📺 [Developer Tools & Compilers](https://fhe-org.github.io/meetups/fhe-development-tools) by Alexander Viand - 20.05.2021
- 📺 [Private set intersection via somewhat homomorphic encryption](https://fhe-org.github.io/meetups/private-set-intersection-via-somewhat-homomorphic-encryption) by Ilia Iliashenko - 15.04.2021
