<tr>
    <td>2022.04.28</td>
    <td><a href="https://fhe-org.github.io/meetups/single-trace-side-channel-attack-on-seal-homomorphic-encryption-library">Single-Trace Side-Channel Attack on SEAL Homomorphic Encryption Library</a></td>
    <td>In this talk, Furkan will talk about the first side-channel attack on homomorphic encryption, which allows computing on encrypted data. The attack targets the Gaussian sampling in the SEAL’s encryption phase and can extract the entire secret message with a single power measurement.</td>
    <td>Furkan Aydin</td>
    <td>Engineering</td>
</tr>

<tr>
    <td>2022.02.25</td>
    <td><a href="https://fhe-org.github.io/meetups/single-server-private-information-retrieval-using-homomorphic-encryption">Single-server private information retrieval using homomorphic encryption</a></td>
    <td>In this talk, Haris will talk about private information retrieval (PIR) protocols based on Somewhat/Fully Homomorphic Encryption (SHE/FHE). PIR allows the client to privately retrieve a record from a database hosted at the server. He will first discuss a general framework of PIR protocols. Followed by optimizations to improve the request size, computation time, and response overhead including the results from ACM CCS’21.</td>
    <td>Muhammad Haris</td>
    <td>Engineering</td>
</tr>

<tr>
    <td>2021.12.21</td>
    <td><a href="https://fhe-org.github.io/meetups/fhe-at-the-speed-of-light">FHE at the speed of light</a></td>
    <td>After a very brief introduction to the core operations of FHE and what makes them slow, we will provide a short review of the physical principles behind Fourier optics and a high-level explanation of how it can, in principle, eliminate the main bottleneck in FHE. We will then show how our technology leverages this theoretical potential to develop a practical solution in a time frame of a few years. Finally, we will present results from numerical experiments using a modified version of the Concrete library showing the speed-up this technology can provide in the next three years. We will also take this opportunity to show how easy Concrete, the Google FHE transpiler, and other libraries make it for companies outside the traditional cryptography community to work with FHE, another important point for future wide adoption.</td>
    <td>Florent Michel</td>
    <td>Engineering</td>
</tr>

<tr>
    <td>2021.11.23</td>
    <td><a href="https://fhe-org.github.io/meetups/why-we-need-revolutionary-hardware-for-fhe">Why we need revolutionnary hardware for FHE</a></td>
    <td>The need for revolutionary hardware to enable FHE applications was identified by DARPA in the context of the DPRIVE program. As part of the DPRIVE program execution, Intel and Microsoft are realizing a platform to make FHE technologies more accessible by developing revolutionary hardware and software stack. Furthermore, the team is committed to the development of international standards and best practices. Overall, the initiative can enable unprecedented, cost-effective FHE performance, and pave the path for industrial deployment.</td>
    <td>Rosario Cammarota</td>
    <td>Engineering</td>
</tr>

<tr>
    <td>2021.08.26</td>
    <td><a href="https://fhe-org.github.io/meetups/google-c++-to-fhe-transpiler">Google's C++ to FHE compiler</a></td>
    <td>In this talk, Shruthi and Rob present the Fully Homomorphic Encryption Transpiler recently released by Google. The FHE transpiler automatically converts high-level [C++] code that operates on unencrypted data into a form that performs the same computation on encrypted data.</td>
    <td>Shruthi Gorantala and Rob Springer</td>
    <td>Engineering</td>
</tr>

<tr>
    <td>2021.05.20</td>
    <td><a href="https://fhe-org.github.io/meetups/fhe-development-tools">Developer Tools & Compilers</a></td>
    <td>In this talk, Alex walks through the inherent engineering challenges in developing FHE applications and discusses how tools like compilers that translate between standard programs and FHE implementations can step in to address some of these complexities. He discusses recent work in this space and, using different case study applications that represent common aspects of FHE applications, highlight where barriers to entry have been successfully lowered and where they still remain. Finally, he concludes by showing examples of what non-expert developers can achieve today and outline future directions for FHE compiler development.</td>
    <td>Alexander Viand</td>
    <td>Engineering</td>
</tr>

<tr>
    <td>2021.04.15</td>
    <td><a href="https://fhe-org.github.io/meetups/private-set-intersection-via-somewhat-homomorphic-encryption">Private set intersection via somewhat homomorphic encryption</a></td>
    <td>Somewhat/Fully Homomorphic Encryption (SHE/FHE) is a versatile tool for many cryptographic applications. In this talk, Ilia shows how to exploit SHE/FHE to build Private Set Intersection (PSI) protocols where two parties wish to compute the intersection of their respective private sets. He discusses the general framework of such protocols and the state-of-the-art optimizations including the results from ACM CCS’21.</td>
    <td>Ilia Iliashenko</td>
    <td>Engineering</td>
</tr>

