    <!--<td><img src="https://img.shields.io/badge/💻-Library-blue"></td>-->


<tr>
    <td><img src="https://img.shields.io/github/stars/zama-ai/concrete?style=plastic"></td>
    <td><a href="https://github.com/zama-ai/concrete">Concrete</a></td>
    <td>Rust FHE library that implements Zama's variant of TFHE.</td>
    <td><a href="https://github.com/zama-ai/">Zama</a></td>
</tr>

<tr>
    <td><img src="https://img.shields.io/github/stars/HomEnc/HElib?style=plastic"></td>
    <td><a href="https://github.com/HomEnc/HElib">HElib</a></td>
    <td>BGV scheme with bootstrapping and the Approximate Number CKKS scheme.</td>
    <td><a href="https://github.com/HomEnc/">HomEnc</a></td>
</tr>

<tr>
    <td><img src="https://img.shields.io/github/stars/ldsec/lattigo?style=plastic"></td>
    <td><a href="https://github.com/ldsec/lattigo">Lattigo</a></td>
    <td>lattice-based multiparty homomorphic encryption library in Go.</td>
    <td><a href="https://github.com/ldsec/">LDS</a></td>
</tr>

<tr>
    <td><img src="https://img.shields.io/github/stars/openfheorg/openfhe-development?style=plastic"></td>
    <td><a href="https://github.com/openfheorg/openfhe-development">OpenFHE</a></td>
    <td>OpenFHE is an open-source FHE library that provides production-ready implementations of all major FHE schemes.</td>
    <td><a href="https://github.com/openfheorg/">OpenFHE.org</a></td>
</tr>

<tr>
    <td></td>
    <td><a href="https://palisade-crypto.org/software-library/">Palisade</a></td>
    <td>C++ FHE library that supports all the major FHE protocols.</td>
    <td><a href="https://palisade-crypto.org/">Palisade</a></td>
</tr>

<tr>
    <td><img src="https://img.shields.io/github/stars/microsoft/SEAL?style=plastic"></td>
    <td><a href="https://github.com/microsoft/SEAL">SEAL</a></td>
    <td>C++ FHE library implementing BFV and CKKS schemes.</td>
    <td><a href="https://github.com/microsoft/">Microsoft</a></td>
</tr>

<tr>
    <td><img src="https://img.shields.io/github/stars/microsoft/SEAL?style=plastic"></td>
    <td><a href="https://heaan.it/">HEaaN</a></td>
    <td>C++ FHE library implementing CKKS scheme that supports bootstrapping and GPU-acceleration.</td>
    <td><a href="https://www.cryptolab.co.kr/">CryptoLab</a></td>
</tr>
