<tr>
    <td>2022.08.18</td>
    <td><a href="https://www.zama.ai/post/the-game-of-life-rebooted-with-concrete-v0-2">Encrypted Conway's Game of Life in Rust with the Concrete library</a></td>
    <td>In July 2022, Zama announced the latest release of the Concrete Framework that aims at simplifying the use of Fully Homomorphic Encryption, or FHE, a powerful tool allowing users to compute over encrypted data. The goal of this blogpost is to see this new version of Concrete in action. We will upgrade an already existing example, Conway’s Game of life by Optalysys, using concrete-boolean so it can benefit from new features available in Concrete v0.2.</td>
    <td>Jean-Baptiste Orfila</td>
    <td>Tutorials</td>
</tr>

<tr>
    <td>2021.11.03</td>
    <td><a href="https://medium.com/optalysys/encrypted-search-using-fully-homomorphic-encryption-4431e987ba40">Encrypted search using Fully Homomorphic Encryption</a></td>
    <td>Information is the lifeblood of the modern internet. As of January 2021, 4.66 billion people were active internet users, each one sending and receiving a torrent of data. Quite of lot of this data is (relatively speaking) harmless and can be shared and accessed to various degrees. A vast and lucrative market around analysing this data has sprung up to take advantage of this highly accessible information, albeit with associated concerns about how this data is used.</td>
    <td>Florent Michel, Joseph Wilson and Edward Cottle</td>
    <td>Tutorials</td>
</tr>

<tr>
    <td>2021.09.30</td>
    <td><a href="https://medium.com/p/f2bcfd614131/">Concrete Boolean and Conway's Game of Life</a></td>
    <td>When developing any application, we first need an understanding of what it is that we want to achieve. In this case, we want to implement Conway’s Game of Life through encrypted Boolean operations.</td>
    <td>Florent Michel, Joseph Wilson and Edward Cottle.</td>
    <td>Tutorials</td>
</tr>

<tr>
    <td>2021.08.26</td>
    <td><a href="https://fhe-org.github.io/meetups/running-numpy-programs-homomorphically">Homomorphic Machine Learning using Numpy & Concrete</a></td>
    <td>Making FHE mainstream requires tools that make it easy to use for non-cryptographers. Being able to take regular Numpy programs and run them on encrypted data would enable data scientists to integrate FHE into their models, however complex they might be. In this talk, the team at Zama introduce a homomorphic numpy compiler, demonstrate how it can be used to run a recurrent neural network on encrypted data, and share their thoughts on homomorphic compiling.</td>
    <td>Rand Hindi, Ayoub Benaissa, and Samuel Tap</td>
    <td>Tutorials</td>
</tr>



