- 📃 [Data governance is in desperate need of innovation](https://www.zama.ai/post/data-governance-is-in-desperate-need-of-innovation) by Jeremy Bradley and Lorrayne Porciuncula - 22.12.2021
- 📃 [Homomorphic Encryption 101](https://www.zama.ai/post/homomorphic-encryption-101) by Marc Joye - 01.12.2021
- 📃 [6-minute introduction to end to end encryption and try out an FHE demo for yourself](https://6min.zama.ai) - 15.09.2021
- 📃 [People shouldn't care about privacy](https://www.zama.ai/post/people-should-not-care-about-privacy) - by  Rand Hindi - 26.08.2021
