<tr>
    <td>2021.12.22</td>
    <td><a href="https://www.zama.ai/post/data-governance-is-in-desperate-need-of-innovation">Data governance is in desperate need of innovation</a></td>
    <td>From a policy perspective, historically, from about the late seventies, the topic of data governance has been framed with a focus on concerns around privacy and data protection. It became a trade issue at the end of the nineties and since then there has been very little progress in multilateral fora in terms of finding a common vocabulary to discuss data governance more systemically, and to measure the value of data, both from an economic and social perspective.</td>
    <td>Jeremy Bradley and Lorrayne Porciuncula</td>
    <td>Non-technical</td>
</tr>

<tr>
    <td>2021.12.01</td>
    <td><a href="https://www.zama.ai/post/homomorphic-encryption-101">Homomorphic Encryption 101</a></td>
    <td>Fully Homomorphic Encryption (FHE) has long been considered as the holy grail of cryptography. The concept was imagined in the late seventies, but the first realization only came three decades later. Today, both the public and private sectors are embracing this new security paradigm and are actively working at making FHE more practical and easier to use.</td>
    <td>Marc Joye</td>
    <td>Non-technical</td>
</tr>

<tr>
    <td>2021.09.15</td>
    <td><a href="https://6min.zama.ai">6-minute introduction to end to end encryption and try out an FHE demo for yourself</a></td>
    <td>Encryption has been around for thousands of years, used across the ages to send secret messages to one another. For example the Caesar cipher, which consists of simply swapping letters in the alphabet, is one of the earliest encryption techniques, dating back to 60BC! [...]</td>
    <td>Zama</td>
    <td>Non-technical</td>
</tr>

<tr>
    <td>2021.08.26</td>
    <td><a href="">People shouldn't care about privacy</a></td>
    <td>A technique called homomorphic encryption is about to radically change how we guarantee privacy online.</td>
    <td>Rand Hindi</td>
    <td>Non-technical</td>
</tr>
