<!-- Main header navigation -->
<p align="center">
  <img width="200" src="https://user-images.githubusercontent.com/5758427/180978488-db825482-5a58-4c7c-9589-c494a6f0be04.png"><br/>
  <a href="./">Home</a> | <a href="./get-started">Get started</a> | <a href="https://discord.fhe.org">Join the community</a> | <a href="./fhe-events">Events</a> | <a href="https://fhe-org.github.io/conferences/conference-2023/home">Conference 2023</a> | <a href="./fhe-resources">Resources</a>
</p>
<!-- /Main header navigation -->
