// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #0042FF !default;
$header-bg-color-secondary: #0042FF !default;

// Text
$section-headings-color: #000000 !default;
$body-text-color: #000000 !default;
$body-link-color: #0042FF !default;
$blockquote-text-color: #000000 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #0042FF !default;
$table-border-color: #0042FF !default;
$hr-border-color: #0042FF !default;
