.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: blue;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
}

@import "{{ site.theme }}";
